@import "./styles/normilize.css";

body {
    background-color: #151718;
    color: #ccc;
}

ul {
    list-style: none;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* .active {
    color: peru;
} */

.active-link {
    color: peru;
}